/* Definindo a fonte personalizada Montserrat para uso na página */
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.ttf');
}

/* Estilos gerais para redefinir padrões do navegador e definir a fonte Montserrat como padrão */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

/* Estilos gerais para o corpo da página */
body{
    background-color: #9FB4C8;
    height: 100%;
}

/* Container central da página */
#center{
    margin: 0 auto;
    width: 51%;
    height: 100vh;
    background-color: aqua;
    display: block;
}

/* Bloco superior da página */
#top-square{
    padding-top: 20px;
    width: 100%;
    height: 50%;
    background-color: #79D3F6;
}

/* Barra de navegação */
.nav{
    text-align: center;
    background-color: #044853;
    width: 100%;
    height: 50px;
    padding: 4px;
    box-sizing: border-box;
}

/* Estilos para os links da barra de navegação */
.nav a{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-decoration: none;
    margin: 0 2%;
}

/* Efeito de destaque nos links ao passar o mouse sobre eles */
.nav a:hover{
    border-bottom: 4px solid #FFB8AC;
    border-radius: 25%;
}

/* Estilos para a imagem */
#eu{
    width: 200px;
    border-radius: 10%;
    margin-left: 50px;
    float: left;
}

/* Estilos para o nome (dividido em três linhas) */
#top-square #nome{
    margin-top: 20px;
    margin-left: 10px;
    width: 200px;
    float:left;
    box-sizing: border-box;
}

/* Estilos para os elementos H1 dentro do bloco de nome */
#top-square #nome h1{
    font-size: 48px;
    margin-top: 10px
}

/* Bloco inferior da página */
#bottom-square{
    background-color: #FFB8AC;
    height: 50%;
    width: 100%;
}

/* Estilos para o parágrafo de texto no bloco inferior */
#text-me{
    margin-left: 50px;
    padding-top: 10%;
    display: block;
    justify-content:flex-start;
    width: 70%;
    color: white;
    font-size: 24px;
    line-height: 36px;
}

/* Bloco principal da página */
#main-square{
    padding-top: 20px;
    width: 100%;
    height: 100%;
    background-color: #79D3F6;
}

/* Estilos para elementos com a classe text-block*/
.text-block{
    border-radius: 15%;
    margin-left: 50px;
    padding: 10%;
    display: block;
    width: 70%;
    color: white;
    font-size: 24px;
    line-height: 36px;
    background-color: #FFB8AC;
    margin: 30px auto;
    width: 80%;
    height: 85%;
}

/* Estilos para elementos com a classe form*/
.form{
    text-align: center;
    border-radius: 15%;
    margin-left: 50px;
    padding: 10%;
    display: block;
    width: 70%;
    color: white;
    font-size: 24px;
    line-height: 36px;
    background-color: #FFB8AC;
    margin: 30px auto;
    width: 80%;
    height: 85%;
}

/* Estilos para o título do formulário de contato */
.form h1{
    font-size: 36px;
    margin-bottom: 24px;
}